@font-face {
 font-family: 'Ubuntu Mono';
 font-style: normal;
 font-weight: 400;
 src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/UbuntuMono-Regular.ttf) format('truetype');
}
@font-face {
 font-family: 'Ubuntu Mono';
 font-style: normal;
 font-weight: 700;
 src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(../fonts/UbuntuMono-Bold.ttf) format('truetype');
}